<h1>Page Created</h1>

<p>You have created a new page with identifier <strong>{{page}}</strong> and title <strong>{{title}}</strong>.</p>
<p>Its publication date is <strong>{{day}} {{month}} {{year}}</strong></p>

<a href="/new-page">Create another page</a>
<a href="/">Go Home</a>